body{
    margin: 0;
}

.centerFlex {
    display: flex;
    width: 600px;
    justify-content: space-between;
}

.centerFlex div, .centerFlex input {
    width: 280px;
}

input{
    border: 1px solid #000;
    border-radius: 10px;
}

.centerFlex2 {
    display: flex;
    width: 600px;
    justify-content: space-between;
}

.centerFlex2 > div{
    width: 180px;
}
.centerFlex2 input{
    width: 180px;
}

button{
    border-radius: 10px;
    border: 1px solid #61429b;
    color: #e1ddb2;
    padding: 10px 15px;
    background: #61429b;
}