.centerFlex {
    display: flex;
    width: 600px;
    justify-content: space-between;
}

.centerFlex div, .centerFlex input {
    width: 280px;
}

input{
    border: 1px solid #000;
    border-radius: 10px;
}

.centerFlex2 {
    display: flex;
    width: 600px;
    justify-content: space-between;
}

.centerFlex2 > div{
    width: 180px;
}
.centerFlex2 input{
    width: 180px;
}