body{
    background: url("light-gray-abstract-background.jpg");
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    height: 100vh;
}

.centerFlex {
    display: flex;
    width: 600px;
    justify-content: space-between;
}

.centerFlex div, .centerFlex input {
    width: 280px;
}

input{
    width: 290px;
    height: 20px;
    border: 1px solid #000;
    border-radius: 2px;
}

.centerFlex2 {
    display: flex;
    width: 600px;
    justify-content: space-between;
}

.centerFlex2 > div{
    width: 180px;
}
.centerFlex2 input{
    width: 180px;
}


.center {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center button{
    color: white;
    margin-top: 20px;
    width: 120px;
    background: black;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
}


.registration {
    color: white;
    margin-top: 20px;
    background: black;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
}

.center button:hover{
background: #3b3b3b;
}